header{
    padding: 0 30px;
    background-color: #000;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo{
    font-size: 32px;
    cursor: pointer;
}

.menu li{
    display: inline-block;
    padding-left: 32px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 25px 15px;
}
