:root{
    --cizaCLaro-color: #ecf0f1;
    --azulCinza-color: #2c3e50;
    --laranja-color: #e67e22;
    --bordaCinza-color: #d8dcdd;
    --comentarios-color: #929596;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    width: 100%;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

p{
    padding: 10px;
}

.logo a,
.container-flex--start a{
    display: flex;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.dedo-icon{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    opacity: 0.3;
}

.arrow-top{
    background-image: url("imagens/arrow-top.png");
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 60px;
    position: fixed;
    right: 60px;
    bottom: 240px;
    cursor: pointer;
    display: none;
}

.linha{
    border-bottom: 3px solid var(--azulCinza-color);
    width: 90px;
    display: flex;
    justify-content: center;
    margin: 36px;
}

.linha-1{
    border-bottom: 3px dotted var(--azulCinza-color);
    width: 110px;
    display: flex;
    justify-content: center;
    margin: 5px;
    display: none;
}

.linha-1-horizontal{
    border-left: 3px dotted var(--azulCinza-color);
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px;
}
.container-flex--start{
    justify-content: flex-start;
}

.container-flex--end{
    justify-content: flex-end;
}

.container-flex--center{
    justify-content: center;
}

.container-flex--between{
    justify-content: space-between;
}

.container,
.container-flex--start, 
.container-flex--end,
.container-flex--center,
.container-flex--between{
    padding: 0 25px;
    max-width: 1280px;
    display: flex;
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
    display: flex;
    margin-left: 40px;
}

.link1,
.link2,
.link3{
    padding-right: 10px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
}

.link1:hover,
.link2:hover,
.link3:hover{
    opacity: 1;
    transition: 0.3s;
}

.link1{
    background-color: rgba(132, 51, 166, 0.8);
}

.link2{
    background-color: rgba(76, 175, 80, 0.8);
}

.link3{
    background-color: rgba(255, 281, 89, 0.8);
}

header{
    overflow: hidden;
}

header .header1{
    height: 35px;
    width: 100%;
    background-color: var(--laranja-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cizaCLaro-color);
    border-bottom: 2px solid #935116;
}

.header1 .logo-olx{
    background-image: url("../imagens/logoOlx.png");
    justify-self: flex-end;
    
}

.header1 .logo-ml{
    background-image: url("../imagens/logoMl.png");
    justify-self: flex-end;
    border: 1px solid white;
    border-radius: 50%;
}

.header1 .logo-whatsapp{
    background-image: url("../imagens/whatsapp.png");
    justify-items: flex-end;
}

.header1 .logo-olx,
.logo-ml,
.header1 .logo-whatsapp{
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-right: 12px;
}

.header1 .frase-olx,
.header1 .numero-whatsapp{
    align-self: center;
}

.header3{
    background-color: #000;
    width: 100vw;
    height: 460px;
    display: flex;
    justify-content: center;
}

.header3 .container-flex--start{
    margin-top: -40px;
}

.logo{
    width: 15%;
    height: auto;
    padding-bottom: 120px;
    max-width: 400px;
    min-width: 250px;
}

.logo img{
    width: 100%;
}

.header3-bg{
    background-image: url("../imagens/header3.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100%;
}

.gradient-bg--right{
    background: linear-gradient(to left, #000 0%, transparent 10%);
    height: inherit;
    width: inherit;
}


.header3 .chamada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: inherit;
}

.chamada h1{
    color: var(--laranja-color);
    font-size: 40px;
    margin-bottom: 23px;
    margin-top: -90px;
    font-weight: 600;
}

.chamada h4{
    color: var(--cizaCLaro-color);
    font-size: 20px;
    font-weight: 300;
    margin-top: -50px;
    font-weight: bold;
    width: 100%;
    max-width: 550px;
    letter-spacing: 2px;
}

.section1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cizaCLaro-color);
    border-top: 3px solid var(--bordaCinza-color);
}

.background{
    background: 
        linear-gradient(rgba(255,255,255,0.94), rgba(255,255,255,0.95)), 
        url("../imagens/img-cartoons.jpg");
    width: 100%;
    height: 300px;
    opacity: 0.7;    
    background-size: contain;
}

.absolute-div{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.absolute-div p{
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
}

.section1 .chamada{
    width: 860px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    z-index: 99;
}

.wrap-icon-p{
    display: flex;
    flex-direction: row;
}

.icon-car{
    padding: 10px;
}

.section1 .chamada-titulo{
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: var(--laranja-color);
    font-weight: 600;
}

.section1 .wrap-servicos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.wrap-servicos-1,
.wrap-servicos-2,
.wrap-servicos-3{
    height: 300px;
    width: 33.33%;
    margin: 4px;
    padding: 3px;
    text-align: center;
    border-radius: 8px;
    color: var(--comentarios-color); 
    font-weight: bold;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrap-servicos-foto{
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.wrap-servicos-sobre{
    padding-top: 20px;
    font-size: 16px;
    color: var(--azulCinza-color);
}

.wrap-servicos-foto img{
    align-self: flex-start;
    width: 100%;
    border-radius: 8px;
    max-width: 150px;
    max-height: 150px;
}

.section1 .chamada-texto{
    font-size: 18px;
    color: var(--comentarios-color);
    font-weight: 400;
}

.chamada-texto a{
    width: 20px
}

.chamada-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-olx{
    height: 120px;
    width: 120px;
}

.icon-ml{
    height: 140px;
    width: 140px;
}



.icon-olx,
.icon-ml{
    background-size: cover;
    border-radius: 50%;
    margin: 10px 48px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.9;
}

.icon-olx:hover,
.icon-ml:hover{
    transition: 0.5s;
    filter: brightness(50%);
}

.icon-olx{
    background-image: url("../imagens/logoOlxGrande.png");
}

.icon-ml{
    background-image: url("../imagens/logoMl.png");
}

footer{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

footer .contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-titulo,
.horario-titulo{
    color: var(--cizaCLaro-color);
    font-size: 21px;
}

.contato-info,
.horario-info{
    margin-top: 10px;
    color: var(--laranja-color);
    font-size: 17px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.horario-info{align-items: flex-end;}

@media (max-width : 940px){
    .absolute-div p{
        font-size: 18px;
        max-width: 600px;
    }
}


    @media (max-width : 600px){

        .absolute-div p{
            font-size: 16px;
            max-width: 600px;
        }

        .section1{
            padding: 0;
            width: 100%;
        }

        .header1 .frase-olx,
        .header1 .numero-whatsapp{
            align-self: center;
            display: none;
        }

        .header3{
            width: 100%;
        }

        .header3-bg{
            background-image: none;
        }

        .header3 .container-flex--start{
            margin-top: 0px;
        }
    
        .logo{
            padding-bottom: 80px;
        }

        .chamada .container-flex--start{
            justify-content: center;
            text-align: center;
        }

        .container-flex--center{
            padding: 0px;
            margin: 0px;
            width: 100%;
        }

        .section1 .chamada,
        .chamada-icons{
            width: 100%;
            margin: 0 auto;
        }

        .icon-ml{
            border-radius: 0;
            height: 130px;
            width: 130px;
        }

        .link1,
        .link2,
        .link3{
            font-size: 8px;
            padding: 0;
            opacity: 1;
            margin: 0;
            background-color: transparent;
        }

        .logo-whatsapp,
        .logo-ml,
        .logo-olx{
            margin: 0 15px;
            background-color: yellow;
            border-radius: 50%;
        }

        .linha-1{
            display: flex;
        }
        
        .linha-1-horizontal{
            display: none;
        }

        .cursor-pointer{
            margin: 0;

        }

        .container-flex--start{
            justify-content:space-between;
        }
        
        .header1 .frase-olx,
        .header1 .numero-whatsapp{
            align-self: center;
            font-size: 16px;
        }

        .container-flex--end{
            justify-content: space-between;
        }

        .chamada h1{
            font-size: 32px;
            margin-top: -20px;
            padding-bottom: 90px;
            font-weight: 600;
        }

        .chamada h4{
            font-size: 18px;
        }

        .section1 .chamada-texto,
        .section1 .chamada-titulo{
            text-align: center;
        }

        .section1 .wrap-servicos{
            flex-direction: column;
        }

        .wrap-servicos-1,
        .wrap-servicos-2,
        .wrap-servicos-3{
            justify-content:center;
            width: 100%;
        }

        .wrap-servicos-sobre{
            padding-top: 18px;
            font-size: 20px;
        }

        .contato-titulo,
        .horario-titulo{
            font-size: 16px;
        }

        .contato-info,
        .horario-info{
            margin-top: 10px;
            font-size: 14px;
        }


}

@media (max-width : 450px){

    .link1 .dedo-icon{
        display: none;
    }

    .dedo-icon{
        width: 25px;
        height: 25px;
        margin-top: -8px;        
    }

    header .header1{
        height: 35px;
    }

    .cursor-pointer{
        justify-content: space-between;
    }

    .cursor-pointer a{
        margin: 2px 0;
    }

    .header1 .frase-olx,
    .header1 .numero-whatsapp{
        align-self: center;
        font-size: 12px;
    }

      .section1 .chamada-titulo{
        width: 100%;
    }

    .section1 .chamada-texto{
        font-size: 18px;
    }

    .icon-olx{
        height: 130px;
        width: 130px;
    }

    .chamada-icons{
        flex-direction: column;
    }

    footer{
        height: auto;
    }

    .container-flex--between{
        flex-direction: column;
        margin: 20px;
    }

    .contato,
    .horario{
        font-size: 16px;
        margin: 10px;
        text-align: center;
    }

    .contato-titulo,
    .horario-titulo{
        font-size: 16px;
    }

    .contato-info,
    .horario-info{
        margin-top: 10px;
        font-size: 14px;
    }

    .horario-info{align-items: center;}

}

@media (max-width : 350px){


    .icon-ml{
        height: 60px;
        width: 60px;
    }

    .icon-olx{
        height: 60px;
        width: 60px;
    }
    
    
}

