
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:creepypasta51.com.br
RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?creepypasta51.com.br
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:creepypasta51.com.br

