*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

body.body .mini-img{display: none;}

.nav-mobile{
    display: none;
}
.arrow-voltar{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
}

.arrow-voltar a{
    text-align: right;
    color: #263238;
    width: 120px;
}

.claro a{color: #fafafa;}

.img1,
.img2{
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 98.8vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.img1 img,
.img2 img{
    width: 700px;
    height: 500px;
    margin-top: 100px;
}

.container{max-width: 1280px; margin: 0 auto; display: flex; width: 98%;}

.titulo{
    font-size: 25px;
    padding: 25px;
    color: #3e2723;
    line-height: 60px;
    letter-spacing: 6px;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.header-1{
    width: 100%;
    background-color: #3e2723 ;
    text-transform: uppercase;
    height: 50px;
}

.header-1--nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ul{list-style-type: none;}
a{text-decoration: none; display: block;}

header .logo{
    padding-top: 10px; 
    cursor: pointer;
}
header .logo{
    background-image: url('../images/mini-logo-dourada.png');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 30px;
}

ul{display: flex;}

header .nav-desktop li{
    margin-left: 20px; 
    border-bottom: 3px solid transparent;
    font-weight: bold;
    transition: 0.3s;
}
header .nav-desktop li:hover{
    border-bottom: 3px solid #fbc02d; 
    transition: 0.5s;
}


#btn-menu{
    display: none; 
    cursor: pointer;
    font-size: 32px;
    color: #b4b4b4;
}

header .nav-desktop li a{
    color: #fbc02d;
    padding: 15px;
    font-size: 15px;
    transition: 0.3s;
}

header .nav-desktop li a:hover{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-slide{
    height: calc(100vh - 52px);
    background-image: url('../images/4.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.fume{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    width: 300vw;
    display: flex;
    margin-left: 0; /*modificar para aparecer os slides*/
}

.header-slide--one,
.header-slide--two,
.header-slide--three{
    width: 100vw;
    color: white;
    text-align: center;
    padding-top: 160px;
    line-height: 100px;
    letter-spacing: 7px;
}
.header-slide--one h3,
.header-slide--two h3,
.header-slide--three h3{
    font-size: 40px;
}

.header-slide--one h1,
.header-slide--two h1,
.header-slide--three h1{
    font-size: 60px;
    color: #fbc02d;
}

.nav-sliders{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 610px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-sliders--bol1, 
.nav-sliders--bol2, 
.nav-sliders--bol3{
    height: 10px;
    width: 25px;
    border: 2px solid #f57f17;
    border-radius: 15px;
    cursor: pointer;
}
.nav-sliders--bol1{background-color: #fbc02d;}


section.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section.photo .container{flex-direction: column;}

.photo-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.wrap-giga--foto{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;    
    z-index: 1;
}

.giga-foto{
    height: 500px;
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.giga-foto img{
    height: 500px;
    width: 100vw;
    max-width: 800px;
}

.button-close{
    border-radius: 10px;
    font-size: 23px;
    width: 80%;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    background-color: green;
}

section.photo .mini-img{display: flex;}

.mini-img{
    flex: 1;
    margin-top: 18px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.mini-img:hover{
   filter: brightness(50%);
   transition: 0.5s;
   transform: scale(1.03);
}

.mini-img img{
    height: 100%;
    width: 300px;
    border-radius: 10px;   
}

.mini-img .marca-dagua{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 50%;
    letter-spacing: 3px;
    transition: 0.5s;
    color: transparent;
}

.mini-img .marca-dagua:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffff0;
}

#info{
    background-color: #3e2723;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info .container{flex-direction: column;}

#info .titulo{
    color: #fffff0;
}

.sobre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-left,
.sobre-right{
    width: 50%;
    color: #e9e9e9;
    margin: 30px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: center;
}

.sobre-left h3,
.sobre-right h3{
    margin-bottom: 20px;
    font-size: 26px;
}

#contato{
    padding-top: 80px;
    display: flex;
    align-items: center;
    width: 100%;
}

#contato .titulo{
    text-align: left;
    height: 200px;
    width: 55%;
    font-size: 25px;
    padding: 32px;
    color: #3e2723;
    line-height: 60px;
    letter-spacing: 6px;
    align-self: center;
}


#contato .container{flex-direction: column;}

#contato .wrap-contato{
    display: flex;
    width: 100%;
}

.wrap-form{
    display: flex;
    width: 45%;
}

form{
    border: 1px solid #b4b4b4;
    background-color: #f3f2f2;
    width: 450px;
    height: 450px;
    color: #888888;
}

label{
    display: block;
    margin: 20px;
}

input{
    width: 96.5%;
    padding: 5px;
    margin-top: 5px;
    border: none;
}

textarea{
    width: 100%;
    height: 130px;
    resize: none;
    margin-top: 5px;
    border: none;
}

footer{
    width: 100%;
    background-color: #f3f2f2;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    color: #888888;
}

.wrap-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrap-footer p{
    margin-top: 15px;
    font-size: 16px;
}

.wrap-footer span{
    margin-top: 15px;
    font-size: 13px;
}

.wrap-footer--right,
.wrap-footer--left{
    width: 50%;
}
.wrap-footer--right{text-align: right;}

@media (max-width: 1024px){

    header .nav-sliders{top: 690px;}

    #contato .titulo{
        padding: 15px 0px;
        margin-top: 0;
    }

    .header-slide--one,
    .header-slide--two,
    .header-slide--three{line-height: 52px;}

    .header-slide--one h3,
    .header-slide--two h3,
    .header-slide--three h3{font-size: 25px;}

    .header-slide--one h1,
    .header-slide--two h1,
    .header-slide--three h1{font-size: 32px;}

    .sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sobre-left,
    .sobre-right{
        width: 80%;
    }

    .sobre-left h3,
    .sobre-right h3{
        margin-bottom: 20px;
        font-size: 26px;
    }

    #contato .container,
    #contato .wrap-contato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contato .titulo{
        width: 100%;
        text-align: center;
        height: auto;
    }

    .wrap-form{width: 80%;}

    form{width: 100%}
}

@media (max-width: 767px){

    header .nav-sliders{top: 500px;}
    
    #btn-menu{display: block;}

    .nav-desktop{
        display: none;
    }
    
    .nav-mobile{
        overflow: hidden;
        width: 0;
        position: absolute;
        background-color: #b4b4b4;
        top: 49px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding-bottom: 30px;
        transition: 0.5s;
        border: 1px solid black;
        display: block;
    }

    .header-1--nav{
        padding-top: 5px;
    }

    .nav-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-mobile li{
        width: 100%;
        border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    }

    .nav-mobile li:hover{background-color: rgba(220, 220, 220, 0.4);}

    .nav-mobile a{
        color: #b4b4b4;
        display: block;
        width: 100%;
        padding: 20px 0;
        font-weight: bold;
    }
    .nav-mobile a:hover{color: rgb(0, 0, 0);}

    section#info h3{font-size: 19px; line-height: 0;}
    section#info p{font-size: 15px; line-height: 30px;}
    
    section#info .sobre-left,
    section#info .sobre-right{
        margin: 15px
    }

    .header-slide--one h3,
    .header-slide--two h3,
    .header-slide--three h3{
        font-size: 21px;
        line-height: 43px;
    }
    
    .header-slide--one h1,
    .header-slide--two h1,
    .header-slide--three h1{
        font-size: 25px;
        line-height: 34px;
        margin-top: 80px;
    }
    
    .titulo{
        font-size: 15px;
        line-height: 29px;
    }

    section#contato{
        padding-top: 21px;
    }

    #contato .titulo{
        font-size: 15px;
    }

    .wrap-footer--left{width: 100%; text-align: center;}
    footer .wrap-footer--right{display: none}
};