*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.w50{width: 50%;}

.w80{width: 80%;}

.w100{width: 100%;}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 15px 52px;
    border-radius: 25px;
    color: white;
    background: #b98b59;
    border: none;
    font-weight: 600;
    margin-bottom: 170px;
    cursor: pointer;
}

.titulo{
    text-align: center;
    margin-bottom: 50px;
    width: 100%; 
}


.titulo p{
    font-size: 12px;
    color: #aeaeae;
    font-weight: bold;
}

.titulo h2{
    padding-top: 60px;
    padding-bottom: 16px;
    font-size: 25px;
}

#slide_select{background: #b98b59;}

ul{list-style-type: none;}
a{text-decoration: none; color: white;}
h3{font-size: 16px; color: white}

/***********SITE************/

header{
    height: 100px;
    background-color: #000000;
    display: flex;
}

header > .container{
    justify-content: space-between;
}

header .logo{
    align-self: center;
    cursor: pointer;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    height: 100px;
}

header li{
    padding-left: 20px;
    align-self: center;
}

header li a{
    font-size: 12px;
    font-weight: bold;
    padding: 35px 5px;
}

header a:hover,
header .select{
    border-bottom: 7px solid #b78c59;
}

/*******************section 1**************/

#section1{
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url('../complementos/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.fume{
    background-color: rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
}

#section1 .sliders{
    width: 300vw;
    height: 100%;
}

#section1 .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}

#section1 .slide_area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

#section1 h1{
    font-size: 56px;
}
#section1 h1:nth-child(2){color: #b98b59;}
    

#section1 p{
    font-size: 20px;
    margin-top: 26px;
    margin-bottom: 46px;
    font-weight: bold;
}

#section1 button{
    padding: 15px 52px;
    border-radius: 25px;
    color: white;
    background: #b98b59;
    border: none;
    font-weight: bold;
    margin-bottom: 170px;
    cursor: pointer;
}

.slide_master{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 40;
    left: 0;
}

.slide1, .slide2, .slide3{
    border: 2px solid #b98b59;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

/******** SECTION 2 ***********/

#section2{
    width: 100%;
    height: auto;
    display: flex;
}

.box_section2{
    display: flex;
    flex-direction: column;
}

/*LEFT**/

.box2_section2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left_section2{
    width: 56%;
    display: flex;
    margin-right: 1%;
    flex-direction: column;
}

#section2 button{
    margin-top: 35px;
    width: 198px;
}

.left_section2 p{
    font-size: 14px;
    line-height: 25px;
}

/*RIGHT**/

.right_section2{
    width: 44%;
}

.img_section2{
    background-image: url('../complementos/foto2.jpg');
    background-position: center;
    background-size: cover;
    height: 275px;
    width: 90%;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
    filter: grayscale(95%);
}

/***********SECTION-3 - SERVICES*************/

#section3{
    width: 100%;
    background: #000000;
}

.box_section3{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo_section3 h2{color: white;}

.box2_section3{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.service{
    height: 208px;
    width: 26.25%;
    border-left: 2px solid #383838;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}

.wrap_icon{
    height: 75px;
    width: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.service .icon_service{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#section3 .icon1{background-image: url('../icones/medalha.png');}
#section3 .icon2{background-image: url('../icones/estrela.png');}
#section3 .icon3{background-image: url('../icones/relogio.png');}
#section3 .icon4{background-image: url('../icones/balao.png');}

.service p{
    font-size: 14px;
    color:#383838;
}

.service4{border-right: 2px solid #383838;}



/************SECTION-4 PROJECTS*************/

#section4{
    height: auto;
}

.box-section4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section4 nav{
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ededed;
}

#section4 nav ul{display: flex; flex-wrap: wrap;}

#section4 nav li{
    padding: 18px 20px;
    border-right: 1px solid #cfcfcf;
}
#section4 nav .sem_borda{border: none;}

#section4 nav a{
    padding: 15px 0;
    color: #000000;
    display: inline;
}
#section4 nav a:hover,
.select{border-bottom: 7px solid #b78c59;}

.box-section4 .galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

.galery img{
    max-width: 242px;
    margin: 12px;
    cursor: pointer;
}

.galery img:hover{
    filter: brightness(30%);
}

#section4 button{margin-bottom: 56px;}

/************SECTION-5 team*************/

#section5{
    width: 100%;
    height: 75%;
    background-image: url('../complementos/foto5.jpg');
    background-size: cover;
    background-position: center;
}

#section5 .section5_background{
    
    width: 100%;
    height: 100%;
}

#section5 .box_section5{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section5 .titulo_section5 h2{
    padding-top: 0px;
    margin-top: 60px;
}

#section5
.wrap_team{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#section5 
.box1_team,
.box2_team,
.box3_team{
    width: 30%;
    height: auto;
    min-width: 300px;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2_team{margin: 0 31px;}

#section5
.wrap_photo{
    text-align: center;
    width: 100%;
    border-radius: 185px;
    margin: 46px 0;
}

#section5 .wrap_tittle{
    text-align: center;
    width: 100%;
}

#section5 .wrap_tittle p{font-size: 14px; color:#383838;margin: 10px 0;}
#section5 h3{color: #000000;}

#section5 .wrap_social_team{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    width: 35px;
    height: 35px;
    background-color: #bdbdbd;
    margin: 0 5px;
    border-radius: 35px;
    text-align: center;
}

.social img{
    padding-top: 30%;
}

#section5 .slide_master{bottom: -85;}



/************SECTION-6 CLIENTS*************/

#section6{
    width: 100%;
    height: auto;
    background-color: #ededed;
}

#section6 .container{display: flex;flex-direction: column;}

#section6 .wrap_depoiment{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    margin-bottom: 15px;
}

.wrap_img_depoiment{
    width: 152px;
    height: 152px;
    border-radius: 152px;
}

.wrap_img_depoiment img{
    margin-bottom: 13px;
}

.depoiment{
    margin: 40px;
    max-width: 730px;
}

.depoiment img{
    margin-top: 26px;
    margin-bottom: 13px;
}

.depoiment p{
    color: #878787;
    font-size: 12px;
}

.footer_section6{
    width: 100%;
    background-color:#ffffff;
    border-top: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.footer_section6 .fotos_footer{
    height: 140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fotos_footer img{
    text-align: center;
    width: 100%;
    max-width: 94px;
    margin-left: 90px;
}
.fotos_footer img:nth-child(1){margin-left: 0px;}


/************SECTION-7 PRICE R$*************/

#section7{
    background-color: #ededed;
    border-bottom: 2px solid #cfcfcf;;
}

.wrap_price{
    width: 100%;
}

.wrap_planos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.plano_express:nth-child(2n+0){margin: 0 30px;}
.plano_express{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
}

#section7 .valor h4{
    margin-top: 28px;
    margin-bottom: 15px;
}

#section7 .valor h2{
    font-size: 28px;
}


#section7 .valor p{
    font-size: 12px;
    color: #b5b4b4;
    margin-bottom: 21px;
}

#section7 .paragrafos{
    color: #878787;
    font-size: 10px;
}

#section7 .frases{margin-top: 4px;}
button #price_select{background-color: #b98b59;}

#section7 button{
    margin: 26 0;
    background-color: #373737;
}

#section7 button:hover{
    background-color: #b98b59;
}


/************SECTION-8 PREMIUM R$*************/

#section8{width: 100%;}

#section8 .wrap_premium{
    width: 100%;
}

.wrap_thebox{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 48px;
    margin-bottom: 20px;
}

.thebox_img{padding-left: 56px;}

#section8 .thebox_right{
    padding-left: 85px;
}

.titulo_thebox{
    display: flex;
}

.titulo_thebox img{
    margin: 0 30px;
}

.paragrafo_thebox{
    padding-left: 95px;
    line-height: 25px;
    font-size: 14px;
    color: #878787;
    margin-bottom: 36px;
}

.button_section8{
    width: 100%;
    text-align: center;
}
.button_section8 button{margin-bottom: 58px; margin-top: 20px;}


/************SECTION-9 SOME-FACTS *************/
#section9{background-color: #000000;}

#section9 .container{
    display: flex;
    flex-direction: column;
}

#section9 .wrap_facts{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.fact_boxs{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.fact_boxs .facts_design,
.wrap_details_p{width: 25%;}

.facts_design h1{
    color: #b78c59;
    font-size: 38px;
}

.facts_design .underline{
    background-color: #878787;
    height: 3px;
    width: 22px;
    margin: 14px auto;
}

.facts_design h3{font-size: 18px;}

.boxs_paragrafos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}

.boxs_paragrafos p{
    color: #878787;
    font-size: 12px;
    line-height: 20px;
}

/*****FOOTER FACTS******/
#footer_section9{
    background-color: #ffffff;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #adadad;;
}

#footer_section9 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
}

#footer_section9 .social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

#footer_section9 .social p{
    font-size: 12px;
    color: #adadad;
    padding-left: 3px;
}

.wrap_share{
    width: 30%; 
    font-size: 13px; 
}

.wrap_social{width: 70%;}

#footer_section9 .icon{
    height: 36px;
    width: 36px;
    border-radius: 36px;
    text-align: center;
}

#footer_section9 .s img{background-color: transparent;position: relative; top: 5px;}
#footer_section9 .t{background-color: #34c5f1;}
#footer_section9 .i{background-color: #137cb5;}
#footer_section9 .f{background-color: #346198;}
#footer_section9 .g{background-color: #e84138;}
#footer_section9 .p{background-color: #b91d2b;}


/************SECTION-10 CONTACT *************/

#section10{
    width: 100%;
    height: auto;
}

#section10 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 540px;
}

form{
    display: flex;
    flex-wrap: wrap;
}

label{
    margin-bottom: 40px;
}

form input{
    border: none;
    border-bottom: 2px solid #878787;
    padding: 10px -5px;
    font-size: 14px;
    height: 30px;
}

form label:nth-child(4){
    margin-top: 50px;
}

#section10 button{
    padding: 12px 38px; 
    margin-top: 30px;
    margin-bottom: 50px;
}

input:focus{
    outline: 0;
}

/************SECTION-10 CONTACT *************/
#section_map{
    width: 100%;
}

.wrap_map{
    width: 100%;
    height: 300px;
}

#section_map .wrap_map img{
    width: 100%;
    height: 100%;
}

/************FOOTER- FIM *************/
#footer{
    background-color: #000000;
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .container{
    display: flex;
    align-items: center;
}

.wrap_footer1{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

#footer .wrap_social_footer{
    display: flex;
    margin-bottom: 130px;
}

.wrap_footer2{
    display: flex;
    align-items: center;
    width: 40%;
    line-height: 23px;
    padding: 0 2%;
}

.wrap_footer_form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #373737;
}

.wrap_footer_form form{
    width: 70%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
}

.bt button{margin: 0;}
.bt{text-align: center;}

#footer form input{
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    padding: 0 22px;
}



/*****************************************************RESPOSIVE*************************************************/

@media screen and (max-width: 1031px){
    header{
        height: auto;
    }
    
    header > .container{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    header .logo{
        align-self: center;
        cursor: pointer;
    }





}