*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
}

header h1{
    margin: 50px;
}

main{
    display: flex;
    justify-content: center;
}

header .wrap-galeria{display: none;}

main.wrap{
    background-color: #999588;  
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

main .wrap-galeria{
    margin: 1px;
    height: auto;
    display: flex;
}

.wrap-galeria .foto{ 
    display: flex;
    flex-direction: column;
    background-color: white;   
    margin: 30px;
    cursor: pointer;
}

.wrap-galeria img{
    height: 280px;
    width: 320px;
    margin: 5px;
    border: 2px solid #995584;
}

.titulo{
    text-align: center;
    margin: 3px;
    border: 2px solid #995584;
}

aside.foto-grande{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

aside .wrap-foto--grande{
    width: 900px;
    height: 600px;
    display: flex;
}

.wrap-foto--grande img{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.fechar{
    position: relative;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}